body {
  background-color: #393E46;
}

button {
  white-space: nowrap;
}

form {
  margin: 0 8%;
}

p {
  color: white;
}

.container-fluid {
  font-family: "Montserrat";
  padding: 0 8%;
  min-width: 304px;
  word-wrap: break-word;
}

.navbar {
  margin: 0;
}

.row {
  margin: 0 0 20px;
}

#brandname {
  color: #FFC107;
  font-size: 2.5rem;
  padding-left: 20px;
}

#formArea {
  background-color: black;
  margin-bottom: 0;
  padding: 10px 0 10px 0;
}

#howto {
  color: white;
  font-family: "Roboto";
  font-size: 1.2rem;
  font-weight: bold;
}

#location {
  color: white;
  font-family: "Roboto";
  font-size: 2.5rem;
  font-weight: bold;
}

#priceColumn {
  margin-top: 15px;
  text-align: center;
}

#testimonial {
  background-color: #393E46;
  font-family: "Roboto";
  font-size: 1.5rem;
}

#testimonialDivider {
  border-right: 1px solid #FFC107;
}

#vehicleSizeText {
  color: #FFC107;
}

#videoArea {
  padding: 0 10px 0;
}

#youtubeIcon {
  display: block;
  margin: auto;
  width: 100%;
}
